* {
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image:url(./fig3.jpg);
    background-size: cover;    
    
    
} 
#text{
    margin-top:10% ;
    margin-left: 5%;
    margin-right:5% ;
}

#texto{
    margin-top:20% ;
    margin-left: 5%;
    margin-right:5% ;

}

.text1{
    width:40% ;
    text-align:justify;
    float:right;
    

}

.text2{
    width:40% ;
    text-align:justify;
    float:left;

}

.text3{
    width: 50%;
    text-align: justify;
    margin-top:30%;
}
h3{
    text-align: center;
    font:bold;
}
